@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-950 text-zinc-100;
}

.btn {
    @apply flex items-center justify-center gap-2 px-3 h-10   transition-colors rounded;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 20px;
    border: 5px solid transparent;
}
